.chapter(data-title='SMS Application Walkthrough')
  .step(data-title='Welcome!', data-file='../README.MD', data-highlight='11-61')
    h2 Welcome to SMS Application Walk-through

    p This walk-through of an SMS application will show you how to go about building a fully functional SMS application. In this walk-through you will learn:

    ul
        li How to send an SMS message.
        li How to send an MMS message
        li How to track the delivery state of a message.
        li How to modify the message's read status.
        li How to delete a message.
        li How to receive and reply to an SMS message.

    h3 Other Languages

    p This walk-through is also available in the following languages:

    ul
      li
        a(href="https://ringcentral-tutorials.github.io/sms-api-php-quickstart/") PHP
      li
        a(href="https://ringcentral-tutorials.github.io/sms-api-node-quickstart/") Node
      li
          a(href="https://ringcentral-tutorials.github.io/sms-api-python-demo/") Python

  .step(data-title='Setup Your Project', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='12-19')
    :markdown
      ## Clone and Setup the project

      ```
      $ git clone https://github.com/ringcentral-tutorials/sms-api-csharp-demo
      $ cd sms-api-csharp-demo
      $ open sms-api-csharp-demo.sln
      ```

      Specify your app client id and client secret as well as account login credentials to the constant defined within the brackets "< >".

.chapter(data-title='Sending an SMS')
  .step(data-title='Sending an SMS', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='23,29-43')
    :markdown
      ## Sending an SMS

      Let's create a function named `send_sms()` as shown on the right-hand side pane.

      It is very convenient to access RingCentral platform using the [RingCentral.Net SDK](https://github.com/ringcentral/RingCentral.Net).

      First, we create an instance of the RingCentral.Net SDK `RestClient` and passing along the client Id and client secret. We also specify the platform environment and in this demo, we set the last parameter to __false__ to access the sandbox environment.

      Then, we call the `Authorize` function to authenticate a user. In this step, we pass the username and password and optionally the extension number.

      We need to verify if we've logged in successfully by checking the `rc.token.access_token.Length` before we use the SDK to call platform APIs.

      We create an instance of the `CreateSMSMessage` object and set the required query parameters, which include the __from__, __to__ and the __text__ message.

      Finally, we call the `rc.Restapi().Account().Extension().Sms().Post(parameters);` method to send the message.

      This code will work right out of the box. So let's try it out. Go to the Main function and uncomment the line `//send_sms().Wait();` then run the app.

      You should see the message delivery status output to the screen, and shortly an SMS will arrive on the recipient's phone.

      You have just successfully sent an SMS programmatically from your sandbox to a recipient.

      ### Important

      Bear in mind that you can only send SMS messages from a phone number which belongs to the user who is being authenticated to use the app.

      Pay attention to the `parameters.to` which is an array. This means that you can specify multiple recipients to send a group message.

.chapter(data-title='Sending an SMS')
  .step(data-title='Sending an MMS', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='24,44-60')
    :markdown
      ## Send an MMS

      Let's continue to create a function named `send_mms()` as shown on the right-hand side pane.

      Sending an MMS message is very much similar to sending an SMS message, except we add content attachments to the text message.

      We follow the same step to create an instance of the RingCentral.Net SDK `RestClient`, call the `Authorize` method and check the access token before sending a message.

      In addition to specifying the `from`, `to` and the `text` query parameters, we create an `attachment` to hold the binary content and add the `attachments` to an array. This means that we can send multiple attachments in a single MMS message.

      Finally, we call the `rc.Restapi().Account().Extension().Sms().Post(parameters, attachments);` method to send the message.

      Let's try it out. Go to the Main function and uncomment the line `//send_mms().Wait();` then run the app.

      You should see the message delivery status output to the screen, and shortly an MMS will arrive on the recipient's phone.

      ### RingCentral supported MMS content types

      - Images: jpg/jpeg, png, gif, bmp, tif/tiff, svg
      - Videos: 3gp, mp4, mpeg, flv, wmv, mov
      - Audio: mp3
      - Files: vcf/vcard, zip, rtf, html

      ### Message size limit

      The maximum size for MMS is carrier-dependent and normally around 1.2MB to 1.4MB.

      You can send multiple attachments in a single MMS message. But the total size of attachments should not exceed the size limit above!

  .step(data-title='Track the delivery', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='58,61-70')
    :markdown
      ## Track the delivery status of a message

      It takes some time for the system to send and deliver a message to a recipient. The delivery status of a particular message can be tracked using the __message-store__ endpoint.

      After sending the MMS message in the previous step, we call the `track_status()` method, passing along the instance of the SDK, the `messageId` and the `messageStatus`.  We'll use the `messageId` to identify the message we want to track the delivery status.

      Inside the `track_status()` method, we implement a while loop and check if the `mesasgeStatus` value is equal to "Queued", we cause a second delay then call the `MessageStore(id).Get()` method to read and print out the latest delivery status of the message.

      Let's try it out. Uncomment the line `//track_status(rc, resp.id, resp.messageStatus).Wait();` then run the app again.

  .step(data-title='Change the message read status', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='71-92')
    :markdown
      ### Change the message read status

      Every message has the `readStatus` as "Read" or "Unread". We can retrieve a message metadata from the message store and change the `readStatus` as we want.

      Let's implement the `retrieve_modify()` method.

      To read the metadata of recent messages from the user's message store, we create an instance of the `ListMessagesParameters` object, set the `requestParams.readStatus` to "Unread" so we retrieve only recent unread messages from the message store. Then we call the `MessageStore().List(requestParams);`

      The JSON response `resp` contains an array of records. We iterate thru the records array, read the message id, create and instance of the `UpdateMessageRequest` object and set the `updateRequest.readStatus` to "Read". Then we call the `MessageStore(messageId).Put(updateRequest);` to change the `readStatus` of that message.

      Let's try it out. Go to the Main function and uncomment the line `//retrieve_modify().Wait();` then run the app.

      ### Specify other request parameters

      You can set other request parameters such as the `dateFrom` and `dateTo` to retrieve messages created within the specified date and time period. The default date and time period is the current time minus 24 hours.

  .step(data-title='Delete messages', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='93-111')
    :markdown
      ### Delete messages

      Let's implement the `retrieve_delete()` method.

      Similar to the previous step, we retrieve recent messages using the `readStatus` filter but this time, we read those messages which have the `readStatus` as "Read".

      Then, we iterate thru the `records` array, read the message id, and call the `MessageStore(messageId).Delete();` to delete the message.

      Let's try it out. Go to the Main function and uncomment the line `//retrieve_delete().Wait();` then run the app.

      If you want to delete all the messages from the `records` array, comment out the __break__ line.

.chapter(data-title='Replying to SMS messages')
  .step(data-title='Replying to SMS messages', data-file='../sms-api-csharp-demo/Program.cs', data-highlight='112-155')
    :markdown
      In this step, you will learn how to listen to incoming SMS message, then reply with an SMS message to the sender of that incoming message.

      ### Listen to incoming SMS messages

      Let's implement the `receive_reply()` method.

      We follow the same step to create an instance of the RingCentral.Net SDK `RestClient`, call the `Authorize` method and check the access token before moving on to execute the codes.

      First, we create an `eventFilters` array and add the filter "/restapi/v1.0/account/~/extension/~/message-store/instant?type=SMS" to receive SMS messages.

      Then we create an instance of the `Subscription` object as shown on the right-hand side pane.

      Next, we call the `subscription.Subscribe()` method to register for the event notification.

      We also create a while loop to keep the process running so we can test the demo app. We use the `waitLoop` flag to terminate the process once we receive and reply a message.

      ### Replying to an SMS message

      When there is an incoming SMS message, we will receive the notification of an incoming SMS message via the callback "message =>" function specified when we created the `Subscription` object. We load the `message` into a JSON object then parse the sender phone number.

      Then finally, we create and send a reply message to the `senderNumber`.

      Let's try it out. Go to the Main function and uncomment the line `//receive_reply().Wait();` then run the app.

      ### PubNub Notification Alternative

      The subscription we created above uses [PubNub](https://www.pubnub.com/).

      There is also a [WebHook way to do subscription](https://developers.ringcentral.com/guide/notifications/quick-start/webhook/c-sharp). We won't dive into detail here. You can click the link to read more.

      ## Congratulations!

      And that's it. You should have successfully build a number of the components of an SMS application.
